@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  width: 100%;
  height: 100vh;
  font-family: 'Share Tech Mono', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container {
  width:500px;
  margin:0 auto;
  background:#f7f7f7;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-250px;
  margin-top:-350px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

h3 {
  margin-bottom: 25px;
}

#display {
  width: 400px;
  margin: auto;
  background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
  color: white;
  border-radius: 5px;
  padding: 20px;
  font-size: 1.5rem;
  text-align: right;
}

button {
  width: 85px;
  height: 85px;
  margin: 10px;
  border-radius: 10px;
  background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
  color: white;
  border: none;
  font-size: 2rem;
  font-weight: 500;
}

button:hover {
  color: black;
  border: 1px solid black;
}

#clear {
  background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
}

#equals {
  width: 400px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
}

.operand {
  background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
}

#decimal {
  background-image: radial-gradient( circle 691px at 23.3% 17.5%,  rgba(241,122,59,0.91) 0%, rgba(249,224,196,1) 72.3% );
}